@*此為套板後的某一個 Controller/Action 的 Index View 頁面，需加上兩個 section : breadcrumb(麵包屑導覽) / styles (分頁用的 PagedList.css)*@
@section breadcrumb
{
    <li><a href="@Url.Action("Index","客戶資料")">客戶資料</a></li>
}

@*@model IEnumerable<MVC5Exercise2.Models.客戶資料>*@
@model PagedList.IPagedList<MVC5Exercise2.Models.客戶資料>

@{
    ViewBag.Title = "Index";
}
@*此為套板後的某一個 Controller/Action 的 Index View 頁面，需加上 section : styles (分頁用的 PagedList.css)*@
@section styles
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<h2>客戶資料</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>查詢</legend>
        @Html.Label("客戶分類")
        @Html.DropDownList("客戶分類"
          , new List<SelectListItem> {
              new SelectListItem() {Text= "", Value= "" },
              new SelectListItem() {Text= "資訊服務類", Value= "資訊服務類" },
              new SelectListItem() {Text= "金融類", Value= "金融類" },
              new SelectListItem() {Text= "製造類", Value= "製造類" },
              new SelectListItem() {Text= "農林漁牧類", Value= "農林漁牧類" },
              new SelectListItem() {Text= "銷售服務類", Value= "銷售服務類" }
          })

        <input type="submit" value="查詢" />
    </fieldset>    
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.客戶名稱)*@
            @*增加排序欄位*@
            @Html.ActionLink("客戶名稱", "Index", new { sortOrder = ViewBag.CNameSortParm })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.統一編號)*@
            @*增加排序欄位*@
            @Html.ActionLink("統一編號", "Index", new { sortOrder = ViewBag.CNumberSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().傳真)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().是否已刪除)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().客戶分類)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.客戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.統一編號)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.傳真)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.地址)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.是否已刪除)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶分類)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))